#divBoard{
  margin: auto;
  width: 36%;
  aspect-ratio: 1/1;
  float: left;
}

#choseSymbolPanel{
  float: left;
  width: 32.2%;
}

#board{
  width: 100%;
  aspect-ratio: 1/1;
  border-collapse: collapse;
  border: 3px solid black;
}

td{
  height: 11%;
  width: 11%;
  aspect-ratio: 1/1;
  text-align: center;
  user-select: none;
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#choseSymbolTable{
  border: 3px solid black;
  width: 90%;
  margin: auto;
  height: 100px;
  border-collapse: collapse;
}

body{
  background-color: burlywood;
}